.first
{
    border:1px solid gray;
    padding:20px;
    font-size: 40px;
    color:red;
}

.second
{
    font-size:70px;
}
.third
{
    background-color: aqua;
}

.fourth
{
    color:red;
}
.fifth
{
    color:green;
}
