<h1>Bootstrap form Reactive form design</h1>
<a [routerLink]="['/']">Back to home</a>
<div class="container">
    <div class="row">
        <div class="6 border bg-light shadow p-5">
            <form [formGroup]="myform" (ngSubmit)="mysubmit()">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="name" required formControlName="username">
                    
                    <div *ngIf="submitted && f.username.errors" class="errormsg">
                          <div *ngIf="f.username.errors.required">Username is required</div>

                          <div *ngIf="f.username.errors.minlength">
                            Username must be at least 5 characters
                          </div>

                          <div *ngIf="f.username.errors.maxlength">
                            Username must not exceed 10 characters
                          </div>
                    </div>
  



                  </div>
                  <div class="mb-3">
                    <label class="form-label">Phone No</label>
                    <input type="text" class="form-control" name="phone" required pattern="[0-9]{10}" formControlName="phone">
                  </div>
                <div class="mb-3">
                  <label  class="form-label">Email address</label>
                  <input type="email" class="form-control" name="address" required formControlName="email">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" name="pass" required formControlName="pass">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" >Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
